# executables
/main
/bin/*

# gcc stuff
/src/*.o

# demo stuff
/respawn*.txt
/data/rec???.fus

# deploy stuff
/ip.sh

# gprof stuff
/gmon.out

# EMCC files (should be removed by _compile_demo)
#/main.js
#/main.html
#/main.html.map
#/main.html.mem
#/main.data

# core dumps
vgcore.*

# byzanz output (e.g. gameplay video GIFs)
out.*
