# executables
/bin/*

# gcc stuff
*.o

# demo stuff
/screen.bmp

# deploy stuff
/ip.sh

# gprof stuff
/gmon.out

# www stuff
/www/

# nano stuff
*.swp

# various tool output (e.g. bin/animtool)
/output/*

# EMCC files (should be removed by _compile_demo)
#/main.js
#/main.html
#/main.html.map
#/main.html.mem
#/main.data

# core dumps
vgcore.*

# screencast output (e.g. byzanz, recordmydesktop, vlc)
out.*
