/main
/demo
/gmon.out
/respawn*.txt
/data/rec???.fus
/ip.sh

# EMCC files (should be removed by _compile_demo)
#/main.js
#/main.html
#/main.html.map
#/main.html.mem
#/main.data

# core dumps
vgcore.*

# byzanz output (e.g. gameplay video GIFs)
out.*
